argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
bcrypt==4.2.1
cffi==1.17.1
Django @ file:///C:/b/abs_d8jy6px5xv/croot/django_1731616483677/work
Faker==33.1.0
pillow==11.1.0
pycparser==2.22
python-dateutil==2.9.0.post0
setuptools==75.1.0
six==1.17.0
sqlparse @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/sqlparse_1699544474746/work
typing_extensions==4.12.2
wheel==0.44.0
